<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sockets</title>
        <link rel="stylesheet" href="/style.css"> 
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <h1>Tutorial de Sockets.io</h1>
        <p>Probaremos un sistema de mensajería colocando un input y un pequeño espacio para que se muestren los mensajes que se escriban allí: </p>
        <textarea class="inputText" rows="5" cols="60"></textarea>
        <div class="results">
            <p>Aquí se veran los resultados:</p>
            <p class="resultsP"></p>
        </div>
        <script src="/scripts/index.js"></script>
    </body>
</html>