<!DOCTYPE html>
<html>
    <head>
        <title>Proyecto BackEnd</title>
    </head>

    <body>
        <% const ids = [1,2,3,4,5]%>
        <h1>Bienvenido Lautaro Nuñez.</h1>
        <h2>¿En qué mejoraremos este proyecto hoy?</h2>
        <hr>
        <h3>Tareas Pendientes:</h3>
        <ul>
            <li>Generar visual para formulario de edición de productos y usuarios</li>
            <li>Generar visual de perfil de usuario</li>
        </ul>
        <hr>
        <h3>Mapa del proyecto:</h3>    
        <h4>Visuales:</h4>
        <hr>
        <a href="/chat">
            <p>Chat que demuestra el funcionamiento de web sockets.</p>
        </a>
        <hr>
        <a href="/home">
            <p>El Home, muestra una colección de productos.</p>
        </a>
        <hr>
        <a href="/realTimeProducts">
            <p>Lista de productos en tiempo real, utilizando web sockets.</p>
        </a>
        <p>Contiene un formulario tipo post para cargar un nuevo producto</p>
        <hr>
        <a href="/userForm">
            <p>Un formulario para registrar usuarios.</p>
        </a>
        <hr>
        <a href="/userList">
            <p>Lista de usuarios registrados.</p>
        </a>
        <hr>
        <h4>API:</h4>
        <a href="/api/products">
            <p>Lista de productos</p>
        </a>
        <p>Se acepta un /:id para traer un producto en particular.</p>
        <hr>
        <a href="/api/users">
            <p>Lista de productos</p>
        </a>
        <hr>
        <p>Productos por carrito:</p>
        <p>Para ver los productos que tiene un determinado carrito la ruta correspondiente es /api/carts/:idDelCarrito</p>
    </body>
</html>